<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">

    <div class="offcanvas-header justify-content-between">
      <h4 class="fw-normal text-uppercase fs-6">Menu</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  
    <div class="offcanvas-body">
  
      <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
        <li class="nav-item border-dashed active">
          <a routerLink="products/67c5dbb4883cad049cdb01a7" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#fruits"></use></svg>
            <span>Fruits and vegetables</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01a8" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#dairy"></use></svg>
            <span>Dairy Products</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01ac" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#meat"></use></svg>
            <span>Meat and Seafood</span>
          </a>
        </li>
        
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01a9" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#bakery"></use></svg>
            <span>Bakery and Snacks</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01ae" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#canned"></use></svg>
            <span>Packaged Foods</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01ab" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#frozen"></use></svg>
            <span>Frozen Foods</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01ad" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pasta"></use></svg>
            <span>Grains and Pulses</span>
          </a>
        </li>

        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01aa" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#beverages"></use></svg>
            <span>Beverages</span>
          </a>
        </li>
        
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01af" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#spices"></use></svg>
            <span>Spices and Condiments</span>
          </a>
        </li>
        
        
        <li class="nav-item border-dashed">
          <a routerLink="products/67c5dbb4883cad049cdb01b0" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#household"></use></svg>
            <span>Sweets and Desserts</span>
          </a>
        </li>
        
        
      </ul>
    
    </div>
  
  </div>